<!DOCTYPE html>
<html>

<head>
    <title>Tomaz Wang</title>
    <meta charset='utf-8'>
    <link href='https://d31qtcb7c58z3n.cloudfront.net/res-min/themes/marxico.css' rel='stylesheet'>
    <style>
        .note-content,
        .note-content div {
            font-size: 16px;
        }

        .note-content {
            font-family: Consolas, 'Helvetica Neue', Arial, 'Hiragino Sans GB', STHeiti, 'Microsoft YaHei', 'WenQuanYi Micro Hei', SimSun, Song, sans-serif;
        }
    </style>
</head>

<body>
<div id='preview-contents' class='note-content'>
    <h1 id="tomaz-wang">Tomaz Wang</h1>
    <p><a href="http://tomazwang.logdown.com/" target="_blank">read <strong>Blog</strong></a> | <a href="https://github.com/TomazWang" target="_blank"> view <strong>Github</strong></a></p>
    <p>Passionate developer. Specific on Android developing.</p>
</div>
</body>

</html>
